.article {
  .article-images {
    position: relative;

    .image {
    }

    img {
      width: 100%;
    }

  }

  // @todo: global stuff for category to be defined.
  .category {
    background: $red;
    color: #fff;
    font-size: 10px;
    padding: 2px 10px;
  }

  .kicker,
  .headline {
    margin: 0;
  }

  .kicker {
    font-size: 17px;
  }

  .headline {
    font-size: 23px;
    margin-bottom: 20px;
  }

}

.article-content {
  padding: 20px;
}