/* line 1, ../sass/layout/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/layout/_layout.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}

/* line 13, ../sass/layout/_layout.scss */
.loader {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* line 25, ../sass/layout/_layout.scss */
#menu {
  display: none;
  background: #af1028;
  color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform .5s;
}
/* line 37, ../sass/layout/_layout.scss */
#menu span {
  cursor: pointer;
}

/* line 43, ../sass/layout/_layout.scss */
#logo {
  position: fixed;
  width: 100px;
  z-index: 200;
  right: 10px;
  top: 0;
}

/* line 51, ../sass/layout/_layout.scss */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 57, ../sass/layout/_layout.scss */
#content-wrapper {
  background: #fff;
}

/* line 5, ../sass/layout/_teaser.scss */
.teaser {
  margin-bottom: 20px;
}
/* line 8, ../sass/layout/_teaser.scss */
.teaser .teaser-image {
  position: relative;
}
/* line 13, ../sass/layout/_teaser.scss */
.teaser .headline,
.teaser .kicker {
  margin: 0;
}
/* line 17, ../sass/layout/_teaser.scss */
.teaser .kicker {
  font-size: 13px;
}
/* line 21, ../sass/layout/_teaser.scss */
.teaser .headline {
  font-size: 17px;
}
/* line 25, ../sass/layout/_teaser.scss */
.teaser .category {
  background: #af1028;
  color: #fff;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  z-index: 2;
}

/* line 40, ../sass/layout/_teaser.scss */
.teaser-big {
  position: relative;
}
/* line 43, ../sass/layout/_teaser.scss */
.teaser-big img {
  width: 100%;
}
/* line 47, ../sass/layout/_teaser.scss */
.teaser-big .teaser-content {
  bottom: 0;
  background: #af1028;
  color: #fff;
  padding: 10px;
  position: absolute;
}

/* line 60, ../sass/layout/_teaser.scss */
.teaser-medium {
  float: left;
  width: 50%;
}
/* line 64, ../sass/layout/_teaser.scss */
.teaser-medium .category {
  bottom: 0;
}
/* line 68, ../sass/layout/_teaser.scss */
.teaser-medium .teaser-content {
  padding: 4px;
}

/* line 78, ../sass/layout/_teaser.scss */
.teaser-small {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.teaser-small:after {
  content: "";
  display: table;
  clear: both;
}
/* line 81, ../sass/layout/_teaser.scss */
.teaser-small .teaser-image,
.teaser-small .teaser-content {
  float: left;
}
/* line 85, ../sass/layout/_teaser.scss */
.teaser-small .teaser-image {
  width: 30%;
}
/* line 89, ../sass/layout/_teaser.scss */
.teaser-small .category {
  bottom: 0;
}
/* line 93, ../sass/layout/_teaser.scss */
.teaser-small .teaser-content {
  padding: 0 10px;
  width: 70%;
}

/* line 2, ../sass/layout/_article_view.scss */
.article .article-images {
  position: relative;
}
/* line 8, ../sass/layout/_article_view.scss */
.article .article-images img {
  width: 100%;
}
/* line 14, ../sass/layout/_article_view.scss */
.article .image-info {
  background: #000;
  color: #fff;
  padding: 10px;
}
/* line 21, ../sass/layout/_article_view.scss */
.article .category {
  background: #af1028;
  color: #fff;
  font-size: 10px;
  padding: 2px 10px;
}
/* line 29, ../sass/layout/_article_view.scss */
.article .kicker,
.article .headline {
  margin: 0;
}
/* line 33, ../sass/layout/_article_view.scss */
.article .kicker {
  font-size: 17px;
}
/* line 37, ../sass/layout/_article_view.scss */
.article .headline {
  font-size: 23px;
  margin-bottom: 20px;
}

/* line 44, ../sass/layout/_article_view.scss */
.article-content {
  padding: 20px;
}

/* line 49, ../sass/layout/_article_view.scss */
#prev-article,
#next-article {
  background: #af1028;
  color: #fff;
}
/* line 53, ../sass/layout/_article_view.scss */
#prev-article .inner,
#next-article .inner {
  padding: 20px 10px 10px 10px;
  text-align: center;
}

/* line 60, ../sass/layout/_article_view.scss */
#next-article {
  position: absolute;
  z-index: 3000;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
}

/* line 69, ../sass/layout/_article_view.scss */
#prev-article {
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}
/* line 75, ../sass/layout/_article_view.scss */
#prev-article,
#prev-article .overlay {
  height: 50px;
}
/* line 79, ../sass/layout/_article_view.scss */
#prev-article .overlay {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
