/* line 1, ../sass/layout/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/layout/_layout.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}

/* line 14, ../sass/layout/_layout.scss */
.loader {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* line 26, ../sass/layout/_layout.scss */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 32, ../sass/layout/_layout.scss */
#content-wrapper {
  background: #fff;
  padding-top: 56px;
}

/* line 1, ../sass/layout/_menu.scss */
#menu {
  display: none;
  background: #7a0b1c;
  color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform .5s;
}
/* line 13, ../sass/layout/_menu.scss */
#menu span {
  cursor: pointer;
}
/* line 17, ../sass/layout/_menu.scss */
#menu ul {
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/layout/_menu.scss */
#menu ul:first-child {
  margin-top: 56px;
}
/* line 26, ../sass/layout/_menu.scss */
#menu li {
  background: #7a0b1c;
  font-weight: 700;
  list-style: none;
  margin: 5px;
  padding: 3px 10px;
  border-bottom: 1px solid #fff;
}
/* line 34, ../sass/layout/_menu.scss */
#menu li li {
  border-bottom: 0;
  font-weight: normal;
}

/* line 42, ../sass/layout/_menu.scss */
#logo {
  background: #af1028;
  clear: both;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
/* line 50, ../sass/layout/_menu.scss */
#logo img {
  width: 100px;
  float: right;
}

/* line 5, ../sass/layout/_teaser.scss */
.teaser {
  cursor: pointer;
  margin-bottom: 20px;
}
/* line 9, ../sass/layout/_teaser.scss */
.teaser .teaser-image {
  position: relative;
}
/* line 14, ../sass/layout/_teaser.scss */
.teaser .headline,
.teaser .kicker {
  margin: 0;
}
/* line 18, ../sass/layout/_teaser.scss */
.teaser .kicker {
  font-size: 13px;
}
/* line 22, ../sass/layout/_teaser.scss */
.teaser .headline {
  font-size: 17px;
}
/* line 26, ../sass/layout/_teaser.scss */
.teaser .category {
  background: #af1028;
  color: #fff;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  z-index: 2;
}

/* line 41, ../sass/layout/_teaser.scss */
.teaser-big {
  position: relative;
}
/* line 44, ../sass/layout/_teaser.scss */
.teaser-big img {
  width: 100%;
}
/* line 48, ../sass/layout/_teaser.scss */
.teaser-big .teaser-content {
  background: #af1028;
  color: #fff;
  padding: 10px;
}

<<<<<<< HEAD
/* line 58, ../sass/layout/_teaser.scss */
=======
/* line 61, ../sass/layout/_teaser.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-medium {
  float: left;
  width: 50%;
}
<<<<<<< HEAD
/* line 62, ../sass/layout/_teaser.scss */
.teaser-medium .category {
  bottom: 0;
}
/* line 66, ../sass/layout/_teaser.scss */
=======
/* line 65, ../sass/layout/_teaser.scss */
.teaser-medium .category {
  bottom: 0;
}
/* line 69, ../sass/layout/_teaser.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-medium .teaser-content {
  padding: 4px;
}
/* line 69, ../sass/layout/_teaser.scss */
.teaser-medium .teaser-content .headline {
  color: #af1028;
}

<<<<<<< HEAD
/* line 80, ../sass/layout/_teaser.scss */
.teaser-small {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
=======
/* line 79, ../sass/layout/_teaser.scss */
.teaser-medium + .teaser-small {
  clear: both;
}

/* line 83, ../sass/layout/_teaser.scss */
.teaser-small {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-small:after {
  content: "";
  display: table;
  clear: both;
}
<<<<<<< HEAD
/* line 83, ../sass/layout/_teaser.scss */
=======
/* line 86, ../sass/layout/_teaser.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-small .teaser-image,
.teaser-small .teaser-content {
  float: left;
}
<<<<<<< HEAD
/* line 87, ../sass/layout/_teaser.scss */
.teaser-small .teaser-image {
  width: 30%;
}
/* line 91, ../sass/layout/_teaser.scss */
=======
/* line 90, ../sass/layout/_teaser.scss */
.teaser-small .teaser-image {
  width: 30%;
}
/* line 94, ../sass/layout/_teaser.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-small .category {
  display: none;
}
<<<<<<< HEAD
/* line 95, ../sass/layout/_teaser.scss */
=======
/* line 98, ../sass/layout/_teaser.scss */
>>>>>>> 40b62aa3bbe18b51bc9f8ed3bc0c1bdf1b59da3d
.teaser-small .teaser-content {
  padding: 0 10px;
  width: 70%;
}
/* line 99, ../sass/layout/_teaser.scss */
.teaser-small .teaser-content .headline {
  color: #af1028;
}

/* line 2, ../sass/layout/_article_view.scss */
.article .article-images {
  position: relative;
}
/* line 8, ../sass/layout/_article_view.scss */
.article .article-images img {
  width: 100%;
}
/* line 14, ../sass/layout/_article_view.scss */
.article .image-info {
  background: #000;
  color: #fff;
  padding: 10px;
}
/* line 21, ../sass/layout/_article_view.scss */
.article .category {
  background: #af1028;
  color: #fff;
  font-size: 10px;
  padding: 2px 10px;
}
/* line 29, ../sass/layout/_article_view.scss */
.article .kicker,
.article .headline {
  margin: 0;
}
/* line 33, ../sass/layout/_article_view.scss */
.article .kicker {
  font-size: 17px;
}
/* line 37, ../sass/layout/_article_view.scss */
.article .headline {
  color: #af1028;
  font-size: 23px;
  margin-bottom: 20px;
}

/* line 45, ../sass/layout/_article_view.scss */
.article-content {
  padding: 20px;
}

/* line 50, ../sass/layout/_article_view.scss */
#prev-article,
#next-article {
  background: #af1028;
  color: #fff;
}
/* line 54, ../sass/layout/_article_view.scss */
#prev-article .inner,
#next-article .inner {
  padding: 20px 10px 10px 10px;
  text-align: center;
}

/* line 61, ../sass/layout/_article_view.scss */
#next-article {
  position: absolute;
  z-index: 3000;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
}

/* line 70, ../sass/layout/_article_view.scss */
#prev-article {
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}
/* line 76, ../sass/layout/_article_view.scss */
#prev-article,
#prev-article .overlay {
  height: 50px;
}
/* line 80, ../sass/layout/_article_view.scss */
#prev-article .overlay {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
