////////////////////////////////////////////////////////////////////////////////////////////////////
// Global
////////////////////////////////////////////////////////////////////////////////////////////////////

.teaser {
  margin-bottom: 20px;

  .teaser-image {
    position: relative;
  }

  .headline,
  .kicker {
    margin: 0;
  }

  .kicker {
    font-size: 13px;
  }

  .headline {
    font-size: 17px;
  }

  .category {
    background: $red;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    z-index: 2;
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Teaser big
////////////////////////////////////////////////////////////////////////////////////////////////////

.teaser-big {
  position: relative;

  img {
    width: 100%;
  }

  .teaser-content {
    background: $red;
    color: #fff;
    padding: 10px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Teaser medium
////////////////////////////////////////////////////////////////////////////////////////////////////

.teaser-medium {
  float: left;
  width: 50%;

  .category {
    bottom: 0;
  }

  .teaser-content {
    padding: 4px;

    .headline {
      color: $red;
    }
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Teaser small
////////////////////////////////////////////////////////////////////////////////////////////////////

.teaser-small {
  @include pie-clearfix;
  .teaser-image,
  .teaser-content {
    float: left;
  }

  .teaser-image {
    width: 30%;
  }

  .category {
    display: none;
  }

  .teaser-content {
    padding: 0 10px;
    width: 70%;

    .headline {
      color: $red;
    }
  }
}